* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Koulen', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 132, 110);
    color: whitesmoke;
}

#container {
    border: 3px solid whitesmoke;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.titulo {
    /* border: 1px solid red; */
    height: 50px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

img {
    margin-left: 7px;
}

.tempo {
    /* border: 1px solid red; */
    height: 300px;
    text-align: center;
    text-justify: center;
    flex-direction: column;
}

.tempo-texto {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.t1 {
    margin: 15px 0px;
}

.icons {
    /* border: 1px solid red; */
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h2 {
    /* border: 1px solid red; */
    font-size: 35px;
    width: 95px;
}

i {
    font-size: 30px;
}

i:hover {
    color: rgba(255, 255, 0, 0.473);
}

#iniciar {
    align-self: center;
    width: 150px;
    height: 50px;
    margin-top: 15px;
    background-color: whitesmoke;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#iniciar:hover {
    background-color: rgba(255, 255, 0, 0.473);
    color: whitesmoke;
}

/* contagem */

#contagem {
    border: 3px solid whitesmoke;
    height: 500px;
    width: 350px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.detalhe {
    border: 3px solid whitesmoke;
    padding: 5px 13px;
}

.contador {
    font-size: 50px;
}